---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/takumakume/puppet-github-release-properties-test/releases/tags/v1.0.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1544184178'
      Etag:
      - W/"e971ea6ad171ff42a4179f85ab2d7a5d"
      Last-Modified:
      - Fri, 07 Dec 2018 09:32:02 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/takumakume/puppet-github-release-properties-test/releases/14399113","assets_url":"https://api.github.com/repos/takumakume/puppet-github-release-properties-test/releases/14399113/assets","upload_url":"https://uploads.github.com/repos/takumakume/puppet-github-release-properties-test/releases/14399113/assets{?name,label}","html_url":"https://github.com/takumakume/puppet-github-release-properties-test/releases/tag/v1.0.0","id":14399113,"node_id":"MDc6UmVsZWFzZTE0Mzk5MTEz","tag_name":"v1.0.0","target_commitish":"master","name":"release
        version v1.0.0","draft":false,"author":{"login":"takumakume","id":10905048,"node_id":"MDQ6VXNlcjEwOTA1MDQ4","avatar_url":"https://avatars2.githubusercontent.com/u/10905048?v=4","gravatar_id":"","url":"https://api.github.com/users/takumakume","html_url":"https://github.com/takumakume","followers_url":"https://api.github.com/users/takumakume/followers","following_url":"https://api.github.com/users/takumakume/following{/other_user}","gists_url":"https://api.github.com/users/takumakume/gists{/gist_id}","starred_url":"https://api.github.com/users/takumakume/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/takumakume/subscriptions","organizations_url":"https://api.github.com/users/takumakume/orgs","repos_url":"https://api.github.com/users/takumakume/repos","events_url":"https://api.github.com/users/takumakume/events{/privacy}","received_events_url":"https://api.github.com/users/takumakume/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2018-12-07T00:32:06Z","published_at":"2018-12-07T00:31:02Z","assets":[{"url":"https://api.github.com/repos/takumakume/puppet-github-release-properties-test/releases/assets/10038582","id":10038582,"node_id":"MDEyOlJlbGVhc2VBc3NldDEwMDM4NTgy","name":"puppet-github-release-properties-test.tar.gz","label":null,"uploader":{"login":"takumakume","id":10905048,"node_id":"MDQ6VXNlcjEwOTA1MDQ4","avatar_url":"https://avatars2.githubusercontent.com/u/10905048?v=4","gravatar_id":"","url":"https://api.github.com/users/takumakume","html_url":"https://github.com/takumakume","followers_url":"https://api.github.com/users/takumakume/followers","following_url":"https://api.github.com/users/takumakume/following{/other_user}","gists_url":"https://api.github.com/users/takumakume/gists{/gist_id}","starred_url":"https://api.github.com/users/takumakume/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/takumakume/subscriptions","organizations_url":"https://api.github.com/users/takumakume/orgs","repos_url":"https://api.github.com/users/takumakume/repos","events_url":"https://api.github.com/users/takumakume/events{/privacy}","received_events_url":"https://api.github.com/users/takumakume/received_events","type":"User","site_admin":false},"content_type":"application/x-gzip","state":"uploaded","size":282,"download_count":0,"created_at":"2018-12-07T00:35:52Z","updated_at":"2018-12-07T00:37:28Z","browser_download_url":"https://github.com/takumakume/puppet-github-release-properties-test/releases/download/v1.0.0/puppet-github-release-properties-test.tar.gz"},{"url":"https://api.github.com/repos/takumakume/puppet-github-release-properties-test/releases/assets/10038579","id":10038579,"node_id":"MDEyOlJlbGVhc2VBc3NldDEwMDM4NTc5","name":"puppet-github-release-properties-test.zip","label":null,"uploader":{"login":"takumakume","id":10905048,"node_id":"MDQ6VXNlcjEwOTA1MDQ4","avatar_url":"https://avatars2.githubusercon[...]
